* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(223, 223, 223);
}

header {
    background-color: white;
    width: 80%;
    margin: 10px auto 40px auto;
    text-align: center;
    padding: 3vh;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.form-container {
    background-color: white;
    width: 80%;
    margin: 10px auto 40px auto;
    text-align: center;
    padding: 3vh;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.form-row2 fieldset{
   margin-top: 2vh;
}

.line-content label {
   
    font-size: 14px;
    font-weight: 100;
    margin-left: 15px;
}

.line-content input[type="text"] {
  width: 50%;
}

.line-content textarea {
    resize:none;
}

.form-buttons {
    margin-top: 5vh;
}

.form-buttons button {
    padding: 1vh 10vw;
    border-radius: 5px;
    border: 1px solid rgba(172, 170, 170, 0.5);
}

.form-buttons button:hover {
    padding: 1vh 10vw;
    border-radius: 5px;
    border: 1px solid rgba(28, 199, 99, 0.884);
    cursor: pointer;
}

#display-message {
    color: white;
    font-weight: 600;
    font-family: monospace;
    margin-bottom: 1vh;
}

select {
    text-align: center;
    text-align-last: center;
    width: 20%;
}

footer {
    background-color: white;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 1vh 3vh;
    color: rgb(100, 99, 99);
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}